.cart_total_frame {
  z-index: 15;
  width: 50%;
  background-color: white;
  position: relative;
  top: 5vh;
  padding: 0rem;
  margin: 0rem auto;
  color: black;
  /* overflow-y: scroll; */
}

.cart_frame {
  overflow: auto;
  /* overflow-y: scroll; */
  max-height: 15rem;
  /* padding: 1rem; */
  /* z-index: 15; */
  /* width: 50%; */
  /* min-height: 150px; */
  /* max-height: 400px; */
  /* background-color: white; */
  /* position: relative; */
  /* top: 10%; */
  /* margin: 0rem auto; */
  /* color: black; */
  /* overflow-y: scroll; */

  /* display: flex; */
  /* flex-direction: column; */
}

.cart_frame {
  /* opacity: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  width: 13rem;
  height: 9rem;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.cart_list_frame {
  /* display: flex; */
  padding: 0rem 0.5rem;
}
.cart_list_noitem {
  color: #431301;
  text-align: center;
  font-style: italic;
}
.cart_title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.25rem 0rem 0.25rem 0rem;
}
.cart_button_frame {
  display: flex;
  justify-content: end;
}

.cart_amount_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.cart_button_close {
  background-color: white;
  border: 1px solid #431301;
  color: #431301;
  margin: 0rem 0.5rem;
  padding: 0.5rem 1.5rem;
}
.cart_button_order {
  margin: 0rem 0.5rem;
  background-color: #431301;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px transparent;
}
