.food_list_frame {
  /* background-color: white; */
  /* color: green; */
  width: 60%;
  padding: 2rem;
  margin: 2rem auto;
}
.FoodLoading {
  text-align: center;
  color: white;
}
.FoodError {
  text-align: center;
  color: red;
}
